@model app_source.Models.CompanyModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Eliminar empresa</h1>

<h3 class="text-center">¿Desea eliminar la empresa "@Model.Nombre"?</h3>
<div class="row justify-content-center">
    <div class="col-md-6">
        <hr />
        <p><i class="bi bi-exclamation-diamond-fill text-warning me-2"></i>La siguiente información será eliminada de forma definitiva:
        </p>

        <table class="table table-Secondary table-bordered border-1 border-warning table-warning">
            <tbody>
                <tr class="text-center  align-middle">
                    <td>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Nombre)
                    </td>
                </tr>
                <tr class="text-center align-middle">
                    <td>
                        @Html.DisplayNameFor(model => model.TipoNegocio)
                    </td>
                    <td>
                        @if (Model.TipoNegocio == null)
                        {
                           <p class="m-0 p-0">Desconocido</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.TipoNegocio)
                        }
                    </td>
                </tr>
                <tr class="text-center align-middle ">
                    <td>
                        @Html.DisplayNameFor(model => model.PaisBase)
                    </td>
                    <td>
                        @if (Model.PaisBase == null)
                        {
                            <p class="m-0 p-0">Desconocido</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.PaisBase)
                        }
                    </td>
                </tr>
                <tr class="text-center align-middle ">
                    <td>
                        @Html.DisplayNameFor(model => model.ValorEstimado)
                    </td>
                    <td>
                        @if (Model.ValorEstimado == null)
                        {
                            <p class="m-0 p-0">Desconocido</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => Model.ValorEstimado)
                        }
                    </td>
                </tr>
                </tr>
                <tr class="text-center align-middle ">
                    <td>
                        @Html.DisplayNameFor(model => model.EsTransnacional)
                    </td>
                    <td>
                        @if (Model.EsTransnacional == true)
                        {
                            <p class="m-0 p-0">Sí</p>

                        }
                        else
                        {
                            <p class="m-0 p-0">No</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    
        <form asp-action="Delete">
            <div class="d-flex justify-content-center">
                <input type="hidden" asp-for="Id" />
                <div class="hovertext m-0 p-0" data-hover="Esta acción es irreversible">
                    <input type="submit" id="botonEliminar" value="Eliminar" class=" btn btn-danger"/>
                </div>
                <a asp-action="Index" class="ms-2 btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
