@model IEnumerable<app_source.Models.CompanyModel>

@{
    ViewData["Title"] = "Index";
}



<div class="d-flex justify-content-between my-3">
    <span class="h2 m-0">Lista de empresas</span>
    <a asp-action="Create" class="hovertext btn btn-primary text-center" data-hover="Crear nueva empresa">Agregar empresa</a>
</div>
<table class="table table-hover table-ligth table-primary">
    <thead>
        <tr class="table-dark text-center">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoNegocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorEstimado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsTransnacional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="text-center align-middle ">
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.TipoNegocio == null) {
                    <p>Desconocido</p>
                } else
                {
                    @Html.DisplayFor(modelItem => item.TipoNegocio)
                }
            </td>
            <td>
                @if (item.PaisBase == null)
                {
                     <p>Desconocido</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.PaisBase)
                }
            </td>
            <td>
                @if (item.ValorEstimado == null)
                {
                    <p>Desconocido</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ValorEstimado)
                }
            </td>
            <td>
                @if (item.EsTransnacional == true)
                {
                    <p>Sí</p>

                } else
                {
                    <p>No</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="hovertext btn btn-primary my-1" data-hover="Editar empresa"><i class="bi bi-pencil-square"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="hovertext btn btn-danger" data-hover="Eliminar empresa"><i class="bi bi-trash text-black"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
