@model IEnumerable<app_source.Models.CompanyModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoNegocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaisBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorEstimado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsTransnacional)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.TipoNegocio == null) {
                    <p>Desconocido</p>
                } else
                {
                    @Html.DisplayFor(modelItem => item.TipoNegocio)
                }
            </td>
            <td>
                @if (item.PaisBase == null)
                {
                     <p>Desconocido</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.PaisBase)
                }
            </td>
            <td>
                @if (item.ValorEstimado == null)
                {
                    <p>Desconocido</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ValorEstimado)
                }
            </td>
            <td>
                @if (item.EsTransnacional == true)
                {
                    <p>Sí</p>

                } else
                {
                    <p>No</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
